# ============================================
# .gitignore — agendamento-api
# Guilherme Braga | github.com/engguilhermebraga
# ============================================

# Compilados Java
*.class
*.log
*.ctxt
.mtj.tmp/
hs_err_pid*
replay_pid*

# Pacotes
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Maven (build)
target/

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# Eclipse
.classpath
.project
.settings/
bin/

# Logs
*.log
logs/

# Sistema operacional
.DS_Store
Thumbs.db
desktop.ini

# Segredos — NUNCA sobe para o GitHub
.env
*.key
*.pem
*.p12
application-prod.properties
application-production.yml
application-secret.properties